.sign-up-page{
    padding: 2rem 9rem 2rem 9rem ;
    background-color: #1c2237;
}
.sign-up-container{
   
    border-radius: 20px;
    background-color: #fff;
    padding:2rem;
    max-width: 100%;
}

.sign-up-container-wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.first-container{
    padding: 2px;
    flex: 1;
}


.home-button{
    border: none;
    color: #1746f1;
    margin-bottom: 10px;
}
.home-button:hover{
    color: #1c2237;
}
.company-details{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo-image-container{
    font-size: 8rem;
    color: black;
}
.text-details{
    
    padding: 2px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}
.wajid-name{
    font-size: 2rem;
    font-weight: 800;
}

.details-company{
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 800;
    
}
.sponsor-container{
    
    padding: 2px;
    display: flex;
    justify-content: center;    
}
.sponsor-container-wrapper{
    
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left-container{
    flex: 1;

}
.right-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.users{
    padding-left: 5px;
    font-size: 1rem;
    color: rgb(63, 61, 61);
}
.second-container{
    flex: 1;


}
.second-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 2px solid gray;
}
.second-inputs{
    
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
.news-radio{
    display: flex;
    width: 100%;
    max-width: 150px;
    justify-content: center;
}
.emails{
    font-size: 1rem;
    margin-left: 7px;
}

.terms{
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.terms p{
    font-size: 1rem;
}
.login{
    font-size: 1rem;
    margin-top: 10px;
}
.login-link a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 900;
}
.terms-link a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 900;
}

@media screen and (max-width: 800px) {
    .sign-up-page{
        padding: 2rem;
    }
    .sign-up-container{
        padding: 1rem;
    }
    .sign-up-container-wrapper{
        flex-direction: column;
    }
    .second-container-wrapper{
        border-left: none;
        padding-top: 70px;
    }
    .sponsor-container-wrapper{
        flex-direction: column;
    }
}